.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    z-index: -1;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}